[Unit]
Description=LCD server for music player

[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python3 -m app.pydPiper
WorkingDirectory=/home/volumio/pydPiper
User=volumio
